<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="eStreamChat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="RemoteAuthUrl" value="http://yoursite.com/login"/>
    <add key="AuthSecretKey" value="Your shared secret key goes here!"/>
    <add key="PollingInterval" value="1000"/>
  </appSettings>
  <system.web>
    <compilation debug="true" batch="false" targetFramework="4.0">
    </compilation>
    <authentication mode="None"/>
    <customErrors mode="Off"/>
    <pages theme="Blue" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
    </pages>
    <membership>
      <providers>
        <clear/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="eStreamChat.ChatEngineBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="eStreamChat.ChatEngine">
        <endpoint address="" behaviorConfiguration="eStreamChat.ChatEngineBehavior"
          binding="webHttpBinding" contract="eStreamChat.ChatEngine" />
      </service>
    </services>
  </system.serviceModel>
  <applicationSettings>
    <eStreamChat.Properties.Settings>
      <setting name="EnableFileTransfer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SendFileAllowedExtensions" serializeAs="String">
        <value>jpg,png,gif,mp3,zip,rar,txt</value>
      </setting>
      <setting name="ProvidersPath" serializeAs="String">
        <value>Providers\Custom</value>
      </setting>
      <setting name="EnableVideoChat" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FlashMediaServer" serializeAs="String">
        <value>rtmp://yourserver.com/live</value>
      </setting>
      <setting name="FlashServerType" serializeAs="String">
        <value>fms</value>
      </setting>
    </eStreamChat.Properties.Settings>
  </applicationSettings>
  <unity>
    <typeAliases>
      <typeAlias alias="singleton"
          type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    </typeAliases>
    <containers>
      <container>
        <types>
          <type
             type="eStreamChat.Interfaces.ILogger, eStreamChat.Interfaces"
             mapTo="eStreamChat.Classes.FileLogger, eStreamChat">
            <lifetime type="singleton" />
          </type>
          <type
             type="eStreamChat.Interfaces.ICacheProvider, eStreamChat.Interfaces"
             mapTo="eStreamChat.Classes.MemoryCacheProvider, eStreamChat">
            <lifetime type="singleton" />
          </type>
          <type
             type="eStreamChat.Interfaces.IChatRoomProvider, eStreamChat.Interfaces"
             mapTo="eStreamChat.SampleProviders.ChatRoomProvider, eStreamChat.SampleProviders">
            <lifetime type="singleton" />
          </type>
          <type
             type="eStreamChat.Interfaces.IChatRoomStorage, eStreamChat.Interfaces"
             mapTo="eStreamChat.Classes.MemoryChatRoomStorage, eStreamChat">
            <lifetime type="singleton" />
          </type>
          <type
             type="eStreamChat.Interfaces.IChatUserProvider, eStreamChat.Interfaces"
             mapTo="eStreamChat.SampleProviders.ChatUserProvider, eStreamChat.SampleProviders">
            <lifetime type="singleton" />
          </type>
          <type
             type="eStreamChat.Interfaces.IChatSettings, eStreamChat.Interfaces"
             mapTo="eStreamChat.Classes.ChatSettings, eStreamChat">
            <lifetime type="singleton" />
          </type>
          <type
             type="eStreamChat.Interfaces.IMessengerPresenceProvider, eStreamChat.Interfaces"
             mapTo="eStreamChat.Classes.MemoryMessengerPresenceProvider, eStreamChat">
            <lifetime type="singleton" />
          </type>
        </types>
      </container>
    </containers>
  </unity>
</configuration>